@import 'ember-bootstrap/bootstrap';
@import 'ember-burger-menu';

html,
body {
  height: 100%;
  margin: 0;
  width: 100%;
  > .ember-view {
    height: 100%;
  }
}

.bm-menu {
  background-color: #f8f9fa;
  button.close {
    float: none;
  }
}

.sidebar-tab-controls {
  background-color: lightgray;
  border: solid 2px darkgray;
  border-left: 0;
  display: inline-block;
  // max-width: auto;
  height: 120px;
  transform: translate3d(500px, 0, 0);
  visibility: visible;
}
