@import 'ember-bootstrap/bootstrap';
@import 'ember-burger-menu';

html,
body {
  height: 100%;
  margin: 0;
  width: 100%;
  > .ember-view {
    height: 100%;
  }
}

.bm-menu {
  background-color: #f8f9fa;
  button.close {
    float: none;
  }
}
