@import "ember-bootstrap/bootstrap";

.container {
  margin-left: 30%;
  margin-top: 65px;
  z-index: 1;
}

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
}

.hub-sidebar {
  width: 30%;
  height: 100vh;
  overflow: scroll;
  position: fixed;
  top: 0;
  bottom: 0;
  background-color: darkgray;
  padding: 5px;
  z-index: 3;
}

.list-group {
  margin-top: 10px;
}

.post {
  margin-top: 10px;
}

.sidebar-post {
  .hub-sidebar {
    top: 55px;
    height: calc(100vh - 55px);
  }
}
