<div class="container">
  <div class="list-group">
    {{#each model as |item|}}
      {{#link-to "posts.post" item class="list-group-item list-group-item-action"}}
        <strong>{{item.title}}</strong>: {{item.body}}
      {{/link-to}}
    {{/each}}
  </div>
</div>

{{to-elsewhere named="side-panel-item"
               send=(hash
                 content=(component 'sidebar-title'
                   title='Welcome to the posts index')
               )}}

{{to-elsewhere named="side-panel-item"
               send=(hash
                 content=(component 'sidebar-nav')
               )}}