<div class="container">
  <div class="list-group">
    {{#each model as |item|}}
      {{#link-to "posts.post" item class="list-group-item list-group-item-action"}}
        <strong>{{item.title}}</strong>: {{item.body}}
      {{/link-to}}
    {{/each}}
  </div>
</div>
