{{!-- {{#hub-sidebar open=sidebarIsOpen animation="squish" showUnderlay=false as |sidebar|}}
  {{#sidebar.sidebar showActionBar=false}}
    layout sidebar content goes here!
  {{/sidebar.sidebar}}

  {{#sidebar.outlet}} --}}
    <div class="container-fluid">
      <h2>I am the layout route. I am the layout route. I am the layout route. I am the layout route. I am the layout route. I am the layout route. I am the layout route. I am the layout route. I am the layout route. I am the layout route. I am the layout route. I am the layout route. </h2>
    </div>
  {{!-- {{/sidebar.outlet}}
{{/hub-sidebar}} --}}
